@layer theme, mantine;

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "@mantine/core/styles.layer.css";

$primary: #040813;

:root {
  --primary: #040813;
  --secondary: #141927;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $primary;
  font-family: "Raleway", sans-serif;
}
