<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://app-rea-apps-api-prod-plc-ggfjcfh3hzbcdfge.scm.polandcentral-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/cabbb375-1cb2-49fa-98c3-8305f3513be8/resourceGroups/rg-rea-apps-prod-plc/providers/Microsoft.ContainerRegistry/registries/reaprodregistry</ContainerResourceId>
    <ContainerResourceName>reaprodregistry</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>reaprodregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/cabbb375-1cb2-49fa-98c3-8305f3513be8/resourceGroups/rg-rea-apps-prod-plc/providers/Microsoft.Web/sites/app-rea-apps-api-prod-plc</ResourceId>
    <ResourceGroup>rg-rea-apps-prod-plc</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://app-rea-apps-api-prod-plc-ggfjcfh3hzbcdfge.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0dda0964-f0a2-6e80-b028-d6c586193db0</ProjectGuid>
  </PropertyGroup>
</Project>