<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/cabbb375-1cb2-49fa-98c3-8305f3513be8/resourceGroups/rg-rea-apps-prod-plc/providers/Microsoft.ContainerRegistry/registries/reaprodregistry</ResourceId>
    <ResourceName>reaprodregistry</ResourceName>
    <ResourceGroup>rg-rea-apps-prod-plc</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://reaprodregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0dda0964-f0a2-6e80-b028-d6c586193db0</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>